<!DOCTYPE html>
<html>
<head>
    <title>My Library</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
    <style>
    .error {
    color: red;
    }  

    body {
    background-color: rgb(0, 255, 55);
    }

    p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    }

    h1 {
    text-align: center;
    }

    </style>
</head>

    <body>

    <h1>My Library</h1>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,book in books %}
            <li class="{{name}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

    <div>
        <button type="button"><a href='/'>Home</a></button>

        <button type="button"><a href='/blog'>View All Blog Posts</a></button>
    
        <button type="button"><a href='/newpost'>Write A New Blog Post</a></button>
    
        <button type="button"><a href='/logout'>Log Out</a></button>

        
    </div>

</body>
</html>