{% extends "base.html" %}

{% block content %}

    
    

    <hr />

    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

    <ul>
        {% for post in posts %}
        <li><h2><a href='/blog?id={{post.id}}'>{{post.title}}</a></h2>
            <p>
                {{post.body}}
            </p>
            
                    <p class="user">Posted by: <a href="/blog?user={{post.owner_id}}">{{ post.owner.email }}</a></p>
            </p>
            <hr>
        </li>
        {% endfor %}
    </ul>

        {% endif %}

        <hr />

      

{% endblock %}